// Custom.scss
$secondary: green;
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin-top: -4rem;
}

.no-rounded, .no-rounded * {
    border-radius: 0 !important;
}

.dcontents{
  display:contents;
}
.dcontents :nth-child(1){
  margin-bottom: 2px;
}
.dcontents * {
  text-align: end;
}

.alignCenter {
  align-items: center;
}

// searchbar não se deve usar porque o <i> desaparece com o focus do input
// i.fa-search {
//   position: absolute;
//   left: -50px;
// }

// back-to-top-btn
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;

  &::before {
    content: '';
    height: 50px;
    width: 4px;
    background-color: #000;
    position: absolute;
    top: -20px;
    left: 19px;
  }
}

.bi.bi-twitter {
  width: 50px;
  height: auto;
  background: red;
}

* {background: rgba(255, 0, 0, 0);}